/* ========= MAIN =========*/
html,
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
 
/* ========= INTRO =========*/
/* intro background image */
.intro-header {
    padding-top: 50px;
    padding-bottom: 65px;
    background: url("cards.jpg") no-repeat center center;
    background-size: cover;
}

/* container for name bar, buttons, and navbar */
.intro-message {
    color: cyan;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

/* name */
.intro-message > h1 {
    font-family: Papyrus,fantasy;
    font-size: 90px;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);   
}

/* dividing line */
.intro-divider {
    width: 100%;
    border: 3px solid #721817;
}

/* connect buttons */
.intro-social-buttons a {
    background-color: cyan;
}

/* navbar */
.navbar {
    height: 20px;
    font-weight: 700;
    background: transparent;
    border: transparent;
}

/* navbar links */
.nav.navbar-nav.navbar-right li a {
    background: rgba(0, 0, 0, 0.5);
    color: cyan;
    font-size: 1.3em;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);   
}

/* navbar small */
.navbar-toggle {
    position: right;
    background: cyan;
}


@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 4em;
    }

    ul.intro-social-buttons > li {
        display: inline-block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

/* ========= ABOUT ========= */
/* background */
.content-section-a {
    padding: 50px 0;
    background-color: #DDFFF7;
}

/* swirl in background */
#swirl {
    width: 100%;
    position: absolute;
    margin-top: 3%;
}

/* my pic */
#headshot {
    height: 60vh;
    /*margin-left: 15%;*/
    border: 3px solid #721817;
    border-radius: 50%;
}

/* red bar on left side */
.divider {
    border: 3px solid #721817;
    width: 40%;
    margin-bottom: 6%;
}

#bio {
    background: rgba(119, 136, 153, 0.4);
    text-align: center;
    border: 2px solid #721817;
    padding: 3%;
    height: 30%;
}

/* ========= CODE ========= */
/* background */
.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    background-color: #8DA7BE;
}

/* divider on right side */
.divider2 {
    border: 3px solid #721817;
    width: 40%;
    margin-bottom: 6%;
    margin-left: 60%;
}

/* size of carousel */
.carousel.slide {
    height: 60%;
    margin: 0 auto;
    width: 100%;
    /*box-shadow: -10px 10px 10px #444;*/
}

/* makes bars on side clear */
#myCarousel > a.left.carousel-control, #myCarousel > a.right.carousel-control {
    background: transparent;
}

/* images in carousel */
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    margin: 0 auto;
}

/* code bio under carousel */
.code-disc {
    margin-top: 5%;
    text-align: center;
}

/* ========= GITHUB ========= */
/* git boxes */
#gitInfo {
    height: 280px;
    width: 25%;
    padding-top: 3%;
    padding-right: 5px;
    text-align: center;
    float: left;
    background: rgba(0, 0, 0, 0.8);
    color: aliceblue;
    font-weight: lighter;
}

/* makes the info font weight smaller */
span {
    font-weight: lighter;
}

#github {
    background-image: url("/swirl.png");
}













.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 3px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../img/banner-bg.jpg) no-repeat center center;
    background-size: cover;
}

.banner h2 {
    margin: 0;

    font-size: 3em;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}